/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/Style/Aicustomer.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Aicustomer_sectionAi1__nRiYz{
    width: 100%;
    height: 100vh;
    display: flex;
}
.Aicustomer_divAi1__Vi05i{
    position: relative;
    top:40%;
    width: 50%;
    height: 100vh;
    display: flex;
    margin-left: 100px;
    flex-direction: column;

}
.Aicustomer_divAi1__Vi05i h1{
   
    font-size: 3rem;
    font-weight: 700;
    color:  #000;
    
    
    
}
.Aicustomer_parentImage__Po8Qe{
    
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    margin-left: 1%;
}
.Aicustomer_imageAi1__LxZYs{

    position: relative;
    top:20%;
    right: -20%;
    margin-left:-10%;
    width: 400px;
    height: 400px;
}
.Aicustomer_sectionAi2__j1tYr{
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 5rem;
    flex-direction: column;
    align-items: center;
    color: #000;
}
.Aicustomer_box__2ZuL_{
    width:800px;
    height: auto;
}
.Aicustomer_box__2ZuL_ p{
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    color:  #000;
    
    margin-top: 10px;

}
.Aicustomer_divAi1__Vi05i p{
    width: 80%;
    font-size: 0.8rem;
    font-weight: 400;
   
    color:  #6e6273;
    
    margin-top: 30px;

}
.Aicustomer_textheading__7TOvQ{



    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color:  #000;
   
    margin-top: 100px;
}
.Aicustomer_textFeatures__CNxve{
    
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color:  #000;
   
    margin-top: 150px;

}
.Aicustomer_textAIsection3__VOZZT{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color:  #000;
   
    margin-top: 150px;
}
.Aicustomer_img__nvcBS{
    width: 100%;
    height: 205px;
}
.Aicustomer_Figurebox__qWWvX{
    width: 100%;
   margin-top: 100px;
    display: flex;
    justify-content: center;
   
    color: #000;
}
.Aicustomer_sectionAi3__PCNvE{
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 5rem;
    flex-direction: column;
    
    color: #000;
}



.Aicustomer_blog_post__o0qz0 {
    background: #fff;
    max-width: 350px;
    border-radius: 10px;
    height: 280px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: relative;
  }
  .Aicustomer_box1__mIcHL{
    display: flex;
   gap: 80px;
   width: 100%;
    justify-content: center;
    margin-top: 100px;  

  }
  .Aicustomer_conclusionSection__9VAQq{
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 5rem;
    flex-direction: column;
    align-items: center;
    color: #000;
  }
.Aicustomer_blog_post__o0qz0:hover {
    background:transparent;
    
    transition: all 0.3s ease-in;
    max-width: 350px;
    border-radius: 10px;
    height: 280px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: relative;
  }
  
  
  .Aicustomer_container_copy__2SpGw {
    padding: 6rem 4rem 5rem 4rem;
  }
  
  .Aicustomer_img_pod__esvKG {
    height: 80px;
    width: 80px;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    z-index: 10;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
    left: -10%;
    top: -13%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Aicustomer_img_pod__esvKG img {
    height: 8.3rem;
    width: 8.3rem;
    position: relative;
    border-radius: 100%;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  
  .Aicustomer_img_pod__esvKG h3 {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 1.25rem;
  }
  
  .Aicustomer_container_copy__2SpGw h1 {
    margin: -2rem 0 0rem 0;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    color: #333;
  }
  
  .Aicustomer_container_copy__2SpGw p{
    margin: 0.8rem 0 4.5rem 0;
    font-size: 0.9rem;
    color: #acacac;
    text-align: left;
  }
  
  .Aicustomer_btn_primary__loLUd {
    border: none;
    outline: none;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    padding: 1.5rem 2rem;
    border-radius: 50px;
    color: white;
    font-size: 1.2rem;
    box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
    transition: all 0.2s ease-in;
    text-decoration: none;
  }
  
  .Aicustomer_btn_primary__loLUd:hover {
    box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
  }
  
  @media (max-width: 780px) {
    .Aicustomer_container_copy__2SpGw h1 {
      margin: -2rem 0 0rem 0;
      font-size: 1rem;
      letter-spacing: 0.5px;
      color: #333;
    }
    
    .Aicustomer_container_copy__2SpGw p{
      margin: 0.8rem 0 4.5rem 0;
      font-size: 0.7rem;
      color: #acacac;
      text-align: left;
    }
   .Aicustomer_sectionAi1__nRiYz{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .Aicustomer_Figurebox__qWWvX{
    width: 100%;
   margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   gap: 1rem;
    color: #000;
}
.Aicustomer_box1__mIcHL{
  display: flex;
 gap: 80px;
 width: 100%;
  justify-content: center;
  margin-top: 100px;  
  flex-direction: column;
  align-items: center;


}
  
   .Aicustomer_imageAi1__LxZYs{

    position: absolute;
    top:20%;
    right: 0;
    margin-left:-20%;
    width:100%;
    height: 400px;
}
.Aicustomer_divAi1__Vi05i{
  position: relative;
  top:50%;
  width: 100%;
  height: 100vh;
  display: flex;
  margin-left: 10px;
  flex-direction: column;

}

.Aicustomer_blog_post__o0qz0 {
  background: #fff;
  max-width: 300px;
  border-radius: 10px;
  height: 220px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position: relative;
}
.Aicustomer_blog_post__o0qz0:hover {
  background:transparent;
  
  transition: all 0.3s ease-in;
  border-radius: 10px;
  height: 280px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position: relative;
}
.Aicustomer_divAi1__Vi05i h1{
 
  font-size: 2rem;
  font-weight: 700;
  color:  #000;
  
  
  
}
.Aicustomer_box__2ZuL_{
  width:100%;
  height: auto;
}
   
  }
